# Expo generated
expo-env.d.ts

# Expo prebuild output
android/
ios/

# Environment
.env
.env.local

# Build artifacts
dist/
web-build/

# Expo Go cache
.expo/

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
*.local

# EAS build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# TypeScript
*.tsbuildinfo

# Editor
.vscode/
.idea/
